* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 98%;
    margin: auto;
}

.debug .site_header {
    height: 120px;
}

.debug .immagine_principale {
    height: 450px;
}

.debug .site_title {
    height: 70px;
}

.debug .sidebar, .content {
    height: 300px;
}

.debug .site_footer {
    height: 50px;
}

/* dubug */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.sidebar, .content {
    float: left;
    margin-bottom: 1rem;
}

/* utility */

.site_header {
    width: 100%;
    background-color: violet;
    margin-bottom: 1rem;
}

.immagine_principale {
    width: 100%;
    background-color: khaki;
    margin-bottom: 1rem;
}

.main_content {
    background-color: dodgerblue;
}

.site_title {
    width: 100%;
    background-color: lightblue;
    margin-bottom: 1rem;
}

.sidebar {
    width: 20%;
    background-color: lightblue;
}

.content {
    width: 58%;
    background-color: lightblue;
    margin-left: 1%;
    margin-right: 1%;
}

.site_footer {
    width: 100%;
    background-color: blueviolet;
    margin-top: .5rem;
}